{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

        {% block css%}
            {% include 'css.html' %}
        {% endblock%}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>TCC Pós IA</title>

    </head>

    <body data-sidebar="dark" style="background: #CCD1D1;">

        {% block header %}
        {% include 'header.html' %}
        {% endblock %}

        <div class="p-4" style="margin: 50px 0 50px 0;">
            <div class="container-fluid">
                {% block contents %}
                {% endblock %}
            </div>
        </div>

        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}

        {% block javascript %}
        {% include 'javascript.html' %}
        {% endblock %}

    </body>
</html>