{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block css%}
{% include 'css.html' %}
{% endblock %}

{% block contents %}

{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR and message.extra_tags == 'employee' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS and message.extra_tags == 'employee' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING and message.extra_tags == 'employee' %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor %}
{% endif %}

<div class="row w-auto mb-4">
    <div class="col-lg-12 mb-3" style="text-align: center;">
        <h1>Employee page</h1>
    </div>
</div>

<div class="row w-auto mb-4">

    <div class="col-lg-6 mb-3">

        <div class="card bg-dark text-white mb-4">
            <div class="card-header">Create new employee</div>
            <div class="card-body">

                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{employee_form.first_name|as_crispy_field}}
                    {{employee_form.last_name|as_crispy_field}}
                    {{employee_form.age|as_crispy_field}}
                    {{employee_form.job_position|as_crispy_field}}
                    {{employee_form.video|as_crispy_field}}
                    <button type="submit" class="btn btn-md btn-primary">Create</button>
                </form>

            </div>
        </div>

        <div class="card bg-dark text-white">
            <div class="card-header">Add photo of an employee</div>
            <div class="card-body">

                <form method="POST" action="/face_recognition/add-photo" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{photo_form.employee|as_crispy_field}}
                    {{photo_form.photo|as_crispy_field}}
                    <button type="submit" class="btn btn-md btn-primary">Add photo</button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-lg-6 mb-3">

        <div class="card border border-primary">

            <div class="card-header" style="text-align: center;">
                <div class="row w-auto p-2">
                    <div class="col-lg-3 mb-1">
                        <button id="start-camera" class="btn btn-md btn-info">Start Camera</button>
                    </div>
                    <div class="col-lg-3 mb-1">
                        <button id="start-record" class="btn btn-md btn-success">Start Recording</button>
                    </div>
                    <div class="col-lg-3 mb-1">
                        <button id="stop-record" class="btn btn-md btn-warning">Stop Recording</button>
                    </div>
                    <div class="col-lg-3 mb-1">
                        <a id="download-video" download="test.webm" class="btn btn-md btn-primary">Download Video</a>
                    </div>
                </div>
            </div>

            <div class="row w-auto">
                <div class="col-lg-12" style="text-align: center;">

                    <p id="info" class="mt-3 mb-3">Start the camera to record a video...</p>

                    <video class="m-4 w-auto" id="video" width="600" height="600" autoplay></video>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="row w-auto mb-4">
    <div class="col-lg-12">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Position</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% if employees %}
                {% for employee in employees %}
                    <tr>
                        <th>{{employee.first_name}}</th>
                        <th>{{employee.last_name}}</th>
                        <th>{{employee.age}}</th>
                        <th>{{employee.job_position}}</th>
                        <th>
                            <a href="/face_recognition/employee/delete/{{employee.id}}">Delete</a>
                        </th>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}

{% block javascript %}
{% include 'javascript.html'%}

<script src="{% static 'record_video_from_browser.js' %}"></script>

{% endblock %}