{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block css%}
{% include 'css.html' %}
{% endblock %}

{% block contents %}

{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR and message.extra_tags == 'employee' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS and message.extra_tags == 'employee' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING and message.extra_tags == 'employee' %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor %}
{% endif %}

<h1>Employee page</h1>

<div class="row">

    <div class="col-lg-6 mb-3">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <div class="card-title">Create new employee</div>

                <form method="POST" action="" class="post-form">
                    {% csrf_token %}
                    {{employee_form.first_name|as_crispy_field}}
                    {{employee_form.last_name|as_crispy_field}}
                    {{employee_form.age|as_crispy_field}}
                    {{employee_form.job_position|as_crispy_field}}
                    <button type="submit" class="btn btn-md btn-primary">Create</button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-lg-6 mb-3">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <div class="card-title">Add photo of an employee</div>

                <form method="POST" action="/face_recognition/add-photo" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{photo_form.employee|as_crispy_field}}
                    {{photo_form.photo|as_crispy_field}}
                    <button type="submit" class="btn btn-md btn-primary">Add photo</button>
                </form>

            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}
    {% include 'javascript.html'%}
{% endblock %}